<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Cadastro de Docente</title>
</head>
<body>
	<h1>Cadastro de Docente</h1>
	<form action="#" method="post" th:action="@{/cadastrarDocente}"
		th:object="${docente}">
		<label for="nome">Nome</label> <input type="text" id="nome"
			th:field="*{nome}" /> <label for="email">Email</label> <input
			type="text" id="email" th:field="*{email}"> <label
			for="idade">Idade</label> <input type="text" id="idade"
			th:field="*{idade}"> <label for="formacao">Formação</label> <input
			type="text" id="formacao" th:field="*{formacao}" /> <input
			type="submit" value="Insere Docente">
	</form>
	<div class="result message">
		<p>
			<a href="/listarDocentes"><button>Listar Docentes</button></a> <br>
			<a href="/menuInicial"><button>Menu Inicial</button></a>
		</p>
	</div>

</body>
</html>